<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>AcadShop</h5>
                <p>Sua loja virtual acadêmica com os melhores produtos.</p>
                <div class="social-icons">
                    <a href="#" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <h5>Institucional</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Sobre nós</a></li>
                    <li><a href="#" class="text-light">Nossa história</a></li>
                    <li><a href="#" class="text-light">Trabalhe conosco</a></li>
                    <li><a href="#" class="text-light">Políticas de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h5>Ajuda</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">FAQ</a></li>
                    <li><a href="#" class="text-light">Entregas</a></li>
                    <li><a href="#" class="text-light">Devoluções</a></li>
                    <li><a href="#" class="text-light">Status do pedido</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i> Brasília, DF</li>
                    <li><i class="fas fa-phone me-2"></i> (61) 99999-9999</li>
                    <li><i class="fas fa-envelope me-2"></i> contato@acadshop.com</li>
                </ul>
                <div class="payment-methods">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                    <i class="fab fa-cc-paypal fa-2x me-2"></i>
                    <i class="fab fa-cc-amazon-pay fa-2x"></i>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2025 AcadShop. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Desenvolvido por Pedro H. L. Dos Santos</p>
            </div>
        </div>
    </div>
</footer>